// input text
.inp-text
	display block
	border 1px solid #a4a4a4
	padding 3px 10px
	background #fff
	color $color
	font-family $font
	font-size 16px
	line-height 21px
	height 21px
	// ios reset
	border-radius 0px
	-webkit-appearance none
	.error &
		background #feecec
		border-color #e82f44
	+placeholder()
		opacity(1, false)
		color rgba($color, .5)
	&:focus
		+placeholder()
			color rgba(#000, 0)

textarea.inp-text
	height auto

.inp-fix
	position relative
	display block
	padding 0 22px 0 0
	.inp-text
		width 100%
		margin 0 -22px 0 0
		.ie7 &
			margin-top -1px