/*!
 *	Grid
 */

.row
	position relative
	margin 0
	padding 0
	clearfix()

.row-main
	@extend .row
	margin 0 auto
	width 960px

.col
	display inline
	float left
	left 100%
	position relative
	padding 0

/*
 *	Fluid grid
 */
// mezera v procentech mezi sloupci
$gutter = 3
// gridy které se budou generovat (počet sloupců, označení, specální případy šířek např dvě třetiny, 3 čtvrtiny)
$grids = (2 'h') (3 't' (2)) (4 'q' (3))

for $grid in $grids

	// Vypočítání šířky sloupce
	$help = $grid[0] - 1
	$width = ((100 - $gutter * $help) / $grid[0])
	.grid-{$grid[1]}
		width unit($width, '%')

	// Vypočítání speciálních šířek sloupců
	if $grid[2]
		for $special in $grid[2]
			.grid-{$special}{$grid[1]}
				$help = $special - 1
				width unit($width * $special + $gutter * $help, '%')

	// Posunutí
	$cols = 1..$grid[0]
	for $col in $cols
		.col-{$grid[1]}-{$col}
			$help = $col - 1
			margin-left unit(-100 + ($gutter + $width) * $help, '%')

