// background to-image('img/bg/test.png', linear-gradient-image(50px top, white, black))
// background to-image('img/bg/test2.png', color-image(rgba(red,.5)))
// background sprite-date

body
	position relative
	color $color

/*!
 *	Base layout
 */
@import 'layout/header.styl'
@import 'layout/main.styl'
@import 'layout/footer.styl'

/*!
 *	Menu
 */
@import "layout/menu/accessibility.styl"
@import "layout/menu/main.styl"

/*!
 *	Crossroads
 */


/*!
 *	Box
 */


/*!
 *	Form
 */
@import "layout/form/search.styl"


:first-child
	margin-top 0
